/* Author: Tim Lupfer */


/* General */
body {
  padding-top: 0;
  font-family: 'Lora', serif;
  font-size: 1.7em;
  line-height: 1.5;
}
h1, h2 {
  color: #182654;
  padding-top: 0;
  font-weight: normal;
  padding: 0 0 20px 0;
  margin: 0;
  font-family: 'Cardo', serif;
}
h2 {
  font-size: 24px;
}
a {
  color: #125AA7;
}
a.active {
  color: #000;
}
a:hover {
  color: #000;
}


/* Bootstrap overrides */ 
.navbar-default {
  background-color: transparent;
  border: none;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #fff;
  font-family: 'Cardo', serif;
}
.navbar {
  margin-bottom: 0;
}


/* Layout specific */
.middle {
  overflow: auto;
  background-color: #F4F4F2;
}
.content {
  padding: 20px 30px;
}
.footer {
  background: none repeat scroll 0 0 #323232;
  border-top: 5px solid #A29F9C;
  min-height: 90px;
  padding-top: 30px;
  text-align: center;
  color: #8a8989;
}
.mainhead {
  background: url(/media/bg-slider.jpg);
}


/* Content specific */
.board-of-directors p {
  padding-bottom: 25px;
}
.mainpage img {
  width: 50%;
  float: left;
  padding-right: 30px;
  padding-bottom: 10px;
}


/* Media specific */
@media screen and (max-width: 768px) {
  body {
    padding-top: 0;
  }
}
